.columna{
    background-color: rgb(226, 229, 229);
    color: rgb(20, 19, 19);
    border: 2px solid rgb(14, 13, 13);
    margin: 0 10px;
    padding: 20px;
}

.container{
    margin: 0 auto;
    width: 1000px;
    display: flex;
    text-align: center;
    background: rgb(247, 244, 244);
    padding: 20px;
}

.font{
    font-family: 'Arimo', sans-serif;
}

.btn{
    text-decoration: none;
    background: #eb7b67;
    padding: 10px 30px;
    display: block;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

hr{
    margin: 10px;
    height: 1px;
    background-color: black;
}

.precio{
    color: rgb(101, 214, 209);
    font-size: 45px;

}

.border{
    box-shadow: 10px 10px 5px #a7a4a4;
}
